* {
  margin: 0;
  padding: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.pic {
  width: 100vw;
  height: 100vh;
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px) brightness(0.75);
  position: absolute;
}

.container {
  box-sizing: border-box;
  width: 600px;
  height: 700px;
  background-color: #f1f4ffdd;
  border-radius: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.1s;
}

.title {
  flex: 1;
  text-align: center;
}

.grid {
  position: relative;
  flex: none;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  /* display: grid; */
  /* grid-template-columns: repeat(20, 1fr); */
  border: 1px solid #ccc;
}

.game {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.game>div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 500px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.hide {
  opacity: 0;
}

.box {
  position: absolute;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  /* border: 1px solid #ccc; */
  background-image: url('./img/spirit.png');
  background-size: 100px;
  /* background-position: center; */
}

.pad {
  flex: none;
  display: flex;
  justify-content: space-between;
}

#start {
  margin-top: 5px;
  width: 80px;
  background-color: rgb(255, 248, 234);
  border: none;
  border-radius: 20px;
  transition: 0.1s;
}

#start:hover {
  background-color: white;
}

#start:active {
  box-shadow: rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.15) 0px 30px 60px -30px, rgba(10, 37, 64, 0.1) 0px -2px 6px 0px inset;
}

.snake-head {
  background-position-y: 0px;
}

.snake-body-cur {
  background-position-y: 75px;
}

.snake-tail {
  background-position-y: 50px;
}

.snake-body-str {
  background-position-y: 25px;
}

.up,
.snake-body-cur.up-right-quadrant {
  background-position-x: 0px;
}

.right,
.snake-body-cur.down-right-quadrant {
  background-position-x: 75px;
}

.down,
.snake-body-cur.down-left-quadrant {
  background-position-x: 50px;
}

.left,
.snake-body-cur.up-left-quadrant {
  background-position-x: 25px;
}

.snake-body-str.up,
.snake-body-str.down {
  background-position-x: 0px;
}

.snake-body-str.left,
.snake-body-str.right {
  background-position-x: 75px;
}

.food {
  /* background-image: url('./img/spirit.png'); */
  background-position: 50px 25px;
  animation: shake 0.1s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}